.jobs
	background #7ddbd7
	// height 100%
	// min-height 100%
	padding 50px 0
	color: #fff;
	h1
		font-weight 400
		font-size 3em
		margin-bottom 40px
		color: #0A0783;
	dt
		height: 200px;
		position: relative;
		overflow: hidden;
		margin-bottom 30px
	input
		display none
	strong
		color: #0A0783;
	h3, p
		font-family "lato"
		margin-top 5px