// Sky keyframes
@keyframes cloud-1-one {
	from {
		transform: translate(32rem, 0);
		// left:40%;
	}
	to { 
		transform: translate(100rem, 0);
		// left:110%;
	}
}
@keyframes cloud-1-two {
	from {
		transform: translate(16rem, 0);
		// left:20%;
	}
	to { 
		transform: translate(95rem, 0);
		// left:90%;
	}
}
@keyframes cloud-1-three {
	from {
		transform: translate(5rem, 0);
		// left:5%;
	}
	to { 
		transform: translate(80rem, 0);
		// left:75%;
	}
}
@keyframes cloud-1-four {
	from {
		transform: translate(25rem, 0);
		// left:30%;
	}
	to { 
		transform: translate(100rem, 0);
		// left:100%;
	}
}
@keyframes cloud-1-five {
	from {
		transform: translate(45rem, 0);
		// left:50%;
	}
	to { 
		transform: translate(110rem, 0);
		// left:120%;
	}
}
@keyframes cloud-1-six {
	from {
		transform: translate(60rem, 0);
		// left:70%;
	}
	to { 
		transform: translate(120rem, 0);
		// left:140%;
	}
}
@keyframes cloud-4-one {
	from {
		transform: translate(25rem, 0);
		// left:30%;
	}
	to { 
		transform: translate(95rem, 0);
		// left:90%;
	}
}
@keyframes cloud-4-two {
	from {
		transform: translate(20rem, 0);
		// left: 25%;
	}
	to { 
		transform: translate(80rem, 0);
		// left: 85%;
	}
}


// // Road keyframes
@keyframes right-road {
	from {
		transform: translate(-7rem, -25px);
	}
	to { 
		transform: translate(82rem, -25px);
	}
}
@keyframes left-road {
	from {
		transform: translate(82rem, -10px);
	}
	to { 
		transform: translate(-7rem, -10px);
	}
}

// @keyframes bounceInLeft {
//   0%, 60%, 75%, 90%, 100% {
//   	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
// 	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//   }

//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(-3000px, 0, 0);
// 	transform: translate3d(-3000px, 0, 0);
//   }

//   60% {
//     opacity: 1;
// 	-webkit-transform: translate3d(25px, 0, 0);
// 	transform: translate3d(25px, 0, 0);
//   }

//   75% {
// 	-webkit-transform: translate3d(-10px, 0, 0);
// 	transform: translate3d(-10px, 0, 0);
//   }

//   90% {
// 	-webkit-transform: translate3d(-10px, 0, 0);
// 	transform: translate3d(-10px, 0, 0);
//   }

//   100% {
// 	-webkit-transform: none;
// 	transform: none;
//   }
// }