@keyframes blue-car {
	from {
		left:-90px;
	}
	to { 
		left:3000px;
	}
}
@keyframes blue-truck {
	from {
		left:-900px;
	}
	to { 
		left:3000px;
	}
}
@keyframes green-van {
	from {
		right:-90px;
	}
	to { 
		right:3000px;
	}
}
@keyframes brown-van {
	from {
		left:-600px;
	}
	to {
		left:3000px;
	}
}
@keyframes black-car {
	from {
		right:-300px;
	}
	to { 
		right:2900px;
	}
}
@keyframes black-truck {
	from {
		right:-4000px;
	}
	to { 
		right:3000px;
	}
}