@keyframes cloud-1 {
	from {
		left:10%;
	}
	to { 
		left:80%;
	}
}
@keyframes cloud-4-one {
	from {
		left:30%;
	}
	to { 
		left:90%;
	}
}
@keyframes cloud-4-two {
	from {
		left: 25%;
	}
	to { 
		left: 85%;
	}
}

@keyframes right-road {
	from {
		left: -10%;
	}
	to { 
		left: 110%;
	}
}
@keyframes left-road {
	from {
		right: -10%;
	}
	to { 
		right: 110%;
	}
}