@import "reset.styl"
@import "menu.styl"
@import "keyframes.styl"
@import "sprites.styl"
@import "sun.styl"
@import "city.styl"
@import "road-moviment.styl"
@import "sky-moviment.styl"
@import "jeet"

// main
// 	position: relative;
// 	z-index: 300;
// 	background #fff
.sobre
	background #fff
	position relative
	z-index 2
	padding 50px 0
	center(1200px)
.about-text
	column(3/6)
	h1
		font-weight 400
		font-size 3em
	p
		font-size 1.2em
		line-height 1.2
		margin-top 10px
.ney-photo
	column(2/6, offset: 1/6)
	padding 5px
	border 1px solid #ccc
	border-radius 2px
	box-shadow 2px 2px 2px #00000055
	transform rotate3d(0, 0, 10, -5deg)
	position relative
	right 30px
	img
		width 100%
		height auto


.title
	position fixed
	top 10%
	left 0
	right 0

	h1, h2
		color: rgba(232,127,65, 0.7);
		text-align center

	h1
		font-size 6em
		font-weight 900
		color: rgba(255,255,255, 0.8);
		text-shadow: 1px 4px 0px #67A, 1px 2px 0px #953
		
	h2
		color: #fff
		font-size 1.7em
		font-weight 600
		text-shadow: 2px 2px 0px #999

.sky-far, .sky-near
	position absolute
	margin auto
	left 0
	right 0
	top 0
	bottom 0
	height 100%
	width 100%

