@import "reset.styl"
@import "keyframes.styl"
@import "sprites.styl"
@import "sun.styl"
@import "city.styl"
@import "road-moviment.styl"

.title
	position absolute
	z-index 999
	top 10%
	left 0
	right 0
	h1, h2
		color: rgba(232,127,65, 0.7);
		text-align center
	h1
		font-size 10em
		font-weight 900
		color: rgba(255,255,255, 0.8);
		text-shadow: 1px 4px 0px #67A, 1px 2px 0px #953
		// text-shadow: 1px 4px 6px #666, 1px 4px 6px #999;
		// text-shadow 7px 7px 0 0 #969696, -10px -10px 0 0 #e7a61a;
		
	h2
		color: #fff
		// color: rgba(235,205,99, 0.8);
		font-size 2.84em
		font-weight 600
		// text-shadow: 1px 4px 6px #666, 1px 4px 6px #999;