@import "reset.styl"

// Components
@import "grid.styl"
@import "menu.styl"
@import "ligthbox.styl"

// Draw
@import "sun.styl"
@import "sprites.styl"

// Animate
@import "keyframes.styl"
@import "road-moviment.styl"
@import "sky-moviment.styl"

// Areas
@import "city.styl"
@import "sobre.styl"
@import "jobs.styl"
@import "youtube.styl"

img
	width 100%
	height auto
main
	background #fff
	position relative
	height 100%
	min-height 100%

// Grid


.title
	position fixed
	top 10%
	left 0
	right 0

	h1, h2
		color: rgba(232,127,65, 0.7);
		text-align center

	h1
		font-size 6em
		font-weight 900
		color: rgba(255,255,255, 0.8);
		text-shadow: 1px 4px 0px #67A, 1px 2px 0px #953
		
	h2
		color: #fff
		font-size 1.7em
		font-weight 600
		text-shadow: 2px 2px 0px #999

.sky-far, .sky-near
	position absolute
	margin auto
	left 0
	right 0
	top 0
	bottom 0
	height 100%
	width 100%

