.menu
	position fixed
	left -191px
	height 100%
	margin auto
	z-index 10
	background #111
	border-right 2px solid #333
	a
		text-decoration none
		color #f1f1f1
		display block
		padding 20px
		width 187px
		border-bottom 1px solid #333
		&:hover
			background #fff
			opacity 0.8
			color #000

#openmenu
	display none
	&:checked ~ .menu
		left 0
		label:before
			content ""
			display block
			left 0
			top 0
			bottom 0
			right 0
			margin auto
			width: 3700%;
			height: 3700%;
		.menu-btn
			i
				background none
				&:before
					-webkit-transform rotate(45deg)
					-0-transform rotate(45deg)
					transform rotate(45deg)
					top 0
				&:after
					-webkit-transform rotate(-45deg)
					-0-transform rotate(-45deg)
					transform rotate(-45deg)
					bottom 0

.menu-btn
	display block
	height 40px
	width 40px
	position absolute
	left 189px
	top 0px
	z-index -1
	cursor pointer
	padding: 10px;
	i
		display block
		height 5px
		background black
		width 30px
		position absolute
		top 0
		bottom 0
		margin auto
		&:before, &:after
			content ""
			display block
			position absolute
			height 5px
			background black
			width 30px
		&:before
			top -10px
		&:after
			bottom -10px