.blue-car
	top: -25px
	left: -10%
	animation: right-road 20s linear 0s infinite

.blue-truck
	top: -36px
	left: -10%
	animation: right-road 20s linear 3s infinite

.brown-van
	top: -25px
	left: -10%
	animation: right-road 20s linear 8s infinite

.green-van
	top: -10px
	right: -10%
	animation: left-road 20s linear 0s infinite


.black-car
	top: -10px
	right: -10%
	animation: left-road 20s linear 5s infinite

.black-truck
	top: -10px
	right: -10%
	animation: left-road 20s linear 9s infinite
