.blue-car
	animation: right-road 20s linear 0s infinite

.blue-truck
	animation: right-road 20s linear 3s infinite

.brown-van
	animation: right-road 20s linear 8s infinite

.green-van
	animation: left-road 20s linear 0s infinite

.black-car
	animation: left-road 20s linear 5s infinite

.black-truck
	animation: left-road 20s linear 9s infinite
