.blue-car
	top: -25px
	animation: blue-car 15s linear infinite

.green-van
	top: -10px
	animation: green-van 17s linear infinite

.brown-van
	top: -25px
	animation: brown-van 20s linear infinite

.black-car
	top: -10px
	animation: black-car 20s linear infinite

.black-truck
	top: -10px
	animation: black-car 30s linear infinite

.blue-truck
	top: -36px
	animation: blue-truck 25s linear infinite