.sky-far
	.cloud-2
		opacity 0.8
		top 14%
		animation cloud-1 100s linear infinite
.sky-near
	.cloud-4
		opacity 0.8
		&.one
			top 10%
			animation cloud-4-one 100s linear infinite
		&.two
			top 15%
			animation cloud-4-two 100s linear infinite