.sobre
	background #fff
	position relative
	z-index 2
	padding 50px 0
	border-bottom 1px solid #ccc
	height 100%
	min-height 100%
.about-text
	h1
		font-weight 400
		font-size 3em
	p
		font-family arial
		font-size 1.2em
		line-height 1.4
		margin-top 10px
.ney-photo
	padding 5px
	border 1px solid #ccc
	border-radius 2px
	box-shadow 2px 2px 2px #00000055
	transform rotate3d(0, 0, 10, -5deg)
	position relative
	img
		width 100%
		height auto