.sobre
	background #deb146
	z-index 2
	padding 50px 0
	min-height 100%
.about-text
	color #4b3f34

	h1
		font-weight 400
		font-size 3em
	p
		font-family "lato"
		font-size 1.2em
		line-height 1.4
		margin-top 20px
.ney-photo
	background #dfdfdf
	padding 5px
	left 60px
	border 1px solid #ccc
	border-radius 2px
	box-shadow 2px 2px 2px #00000055
	transform rotate3d(0, 0, 10, -5deg)
	position relative
	+below(400px)
		left -10px
	img
		width 100%
		height auto