.youtube
	background: #d07e47;
	padding: 50px 0;
	color: #f0f0f0;
	h1
		margin-bottom 40px
	dt
		height 212px
		position relative
		overflow hidden
		margin-bottom 30px
	iframe
		min-width 100%
		width 100%
		min-height 212px
		height auto
	dd
		font-family "lato"
		margin-bottom 5px