.youtube
	background: #48cfad;
	padding: 50px 0;
	color: #f0f0f0;
	h1
		font-weight 400
		font-size 3em
		margin-bottom 40px
	dt
		height: 212px;
		position: relative;
		overflow: hidden;
		margin-bottom 30px
	iframe
		min-width 100%
		width 100%
		min-height 212px
		height auto
	dd
		font-family "lato"
		margin-top 5px