* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body,
html {
  line-height: 1;
  font-family: arial, sans-serif;
  font-weight: normal;
  height: 100%;
  width: 100%;
  position: relative;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: bold;
}
a {
  word-wrap: break-word;
}
.menu {
  position: fixed;
  left: -191px;
  height: 100%;
  margin: auto;
  z-index: 10;
  background: #111;
  border-right: 2px solid #333;
}
.menu a {
  text-decoration: none;
  color: #7ddbd7;
  display: block;
  padding: 20px;
  width: 187px;
  border-bottom: 1px solid #333;
}
.menu a:hover {
  background: #7ddbd7;
  color: #000;
}
#openmenu {
  display: none;
}
#openmenu:checked ~ .menu {
  left: 0;
}
#openmenu:checked ~ .menu label:before {
  content: "";
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 3700%;
  height: 3700%;
}
#openmenu:checked ~ .menu .menu-btn i {
  background: none;
}
#openmenu:checked ~ .menu .menu-btn i:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
#openmenu:checked ~ .menu .menu-btn i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0;
}
.menu-btn {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 189px;
  top: 0px;
  z-index: -1;
  cursor: pointer;
  padding: 10px;
}
.menu-btn i {
  display: block;
  height: 5px;
  background: #000;
  width: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-btn i:before,
.menu-btn i:after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  background: #000;
  width: 30px;
}
.menu-btn i:before {
  top: -10px;
}
.menu-btn i:after {
  bottom: -10px;
}
@-moz-keyframes cloud-1-one {
  from {
    left: 40%;
  }
  to {
    left: 110%;
  }
}
@-webkit-keyframes cloud-1-one {
  from {
    left: 40%;
  }
  to {
    left: 110%;
  }
}
@-o-keyframes cloud-1-one {
  from {
    left: 40%;
  }
  to {
    left: 110%;
  }
}
@keyframes cloud-1-one {
  from {
    left: 40%;
  }
  to {
    left: 110%;
  }
}
@-moz-keyframes cloud-1-two {
  from {
    left: 20%;
  }
  to {
    left: 90%;
  }
}
@-webkit-keyframes cloud-1-two {
  from {
    left: 20%;
  }
  to {
    left: 90%;
  }
}
@-o-keyframes cloud-1-two {
  from {
    left: 20%;
  }
  to {
    left: 90%;
  }
}
@keyframes cloud-1-two {
  from {
    left: 20%;
  }
  to {
    left: 90%;
  }
}
@-moz-keyframes cloud-1-three {
  from {
    left: 5%;
  }
  to {
    left: 75%;
  }
}
@-webkit-keyframes cloud-1-three {
  from {
    left: 5%;
  }
  to {
    left: 75%;
  }
}
@-o-keyframes cloud-1-three {
  from {
    left: 5%;
  }
  to {
    left: 75%;
  }
}
@keyframes cloud-1-three {
  from {
    left: 5%;
  }
  to {
    left: 75%;
  }
}
@-moz-keyframes cloud-1-four {
  from {
    left: 30%;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes cloud-1-four {
  from {
    left: 30%;
  }
  to {
    left: 100%;
  }
}
@-o-keyframes cloud-1-four {
  from {
    left: 30%;
  }
  to {
    left: 100%;
  }
}
@keyframes cloud-1-four {
  from {
    left: 30%;
  }
  to {
    left: 100%;
  }
}
@-moz-keyframes cloud-1-five {
  from {
    left: 50%;
  }
  to {
    left: 120%;
  }
}
@-webkit-keyframes cloud-1-five {
  from {
    left: 50%;
  }
  to {
    left: 120%;
  }
}
@-o-keyframes cloud-1-five {
  from {
    left: 50%;
  }
  to {
    left: 120%;
  }
}
@keyframes cloud-1-five {
  from {
    left: 50%;
  }
  to {
    left: 120%;
  }
}
@-moz-keyframes cloud-1-six {
  from {
    left: 70%;
  }
  to {
    left: 140%;
  }
}
@-webkit-keyframes cloud-1-six {
  from {
    left: 70%;
  }
  to {
    left: 140%;
  }
}
@-o-keyframes cloud-1-six {
  from {
    left: 70%;
  }
  to {
    left: 140%;
  }
}
@keyframes cloud-1-six {
  from {
    left: 70%;
  }
  to {
    left: 140%;
  }
}
@-moz-keyframes cloud-4-one {
  from {
    left: 30%;
  }
  to {
    left: 90%;
  }
}
@-webkit-keyframes cloud-4-one {
  from {
    left: 30%;
  }
  to {
    left: 90%;
  }
}
@-o-keyframes cloud-4-one {
  from {
    left: 30%;
  }
  to {
    left: 90%;
  }
}
@keyframes cloud-4-one {
  from {
    left: 30%;
  }
  to {
    left: 90%;
  }
}
@-moz-keyframes cloud-4-two {
  from {
    left: 25%;
  }
  to {
    left: 85%;
  }
}
@-webkit-keyframes cloud-4-two {
  from {
    left: 25%;
  }
  to {
    left: 85%;
  }
}
@-o-keyframes cloud-4-two {
  from {
    left: 25%;
  }
  to {
    left: 85%;
  }
}
@keyframes cloud-4-two {
  from {
    left: 25%;
  }
  to {
    left: 85%;
  }
}
@-moz-keyframes right-road {
  from {
    left: -10%;
  }
  to {
    left: 110%;
  }
}
@-webkit-keyframes right-road {
  from {
    left: -10%;
  }
  to {
    left: 110%;
  }
}
@-o-keyframes right-road {
  from {
    left: -10%;
  }
  to {
    left: 110%;
  }
}
@keyframes right-road {
  from {
    left: -10%;
  }
  to {
    left: 110%;
  }
}
@-moz-keyframes left-road {
  from {
    right: -10%;
  }
  to {
    right: 110%;
  }
}
@-webkit-keyframes left-road {
  from {
    right: -10%;
  }
  to {
    right: 110%;
  }
}
@-o-keyframes left-road {
  from {
    right: -10%;
  }
  to {
    right: 110%;
  }
}
@keyframes left-road {
  from {
    right: -10%;
  }
  to {
    right: 110%;
  }
}
.sprite-image,
.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4,
.balloon,
.helicopter,
.brown-van,
.green-van,
.blue-car,
.black-car,
.black-truck,
.blue-truck {
  background: url("../img/sprite.png") no-repeat;
  display: block;
  position: absolute;
}
.cloud-1 {
  background-position: 0 0;
  width: 160px;
  height: 69px;
}
.cloud-2 {
  background-position: 0 -70px;
  width: 71px;
  height: 46px;
}
.cloud-3 {
  background-position: 0 -117px;
  width: 58px;
  height: 38px;
}
.cloud-4 {
  background-position: 0 -156px;
  width: 45px;
  height: 29px;
}
.balloon {
  background-position: 0 -185px;
  width: 83px;
  height: 116px;
}
.helicopter {
  background-position: 0 -302px;
  width: 85px;
  height: 46px;
}
.brown-van {
  background-position: 0 -349px;
  width: 86px;
  height: 42px;
}
.green-van {
  background-position: 0 -529px;
  width: 86px;
  height: 42px;
}
.blue-car {
  background-position: 0 -392px;
  width: 85px;
  height: 45px;
}
.black-car {
  background-position: 0 -483px;
  width: 85px;
  height: 45px;
}
.black-truck {
  background-position: 0 -438px;
  width: 84px;
  height: 44px;
}
.blue-truck {
  background-position: 0 -572px;
  width: 84px;
  height: 52px;
}
.sunburst {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #93dfdc;
  position: relative;
}
.sunburst b {
  position: absolute;
  margin: auto;
  display: block;
  width: 1px;
  height: 1px;
  border-width: 120px 1300px;
  border-color: transparent #84dbd7;
  border-style: solid;
  overflow: hidden;
}
.sunburst b:nth-child(1) {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  z-index: 1;
}
.sunburst b:nth-child(2) {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  z-index: 2;
}
.sunburst b:nth-child(3) {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  z-index: 3;
}
.sunburst b:nth-child(4) {
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  z-index: 4;
}
.sunburst b:nth-child(5) {
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  transform: rotate(100deg);
  z-index: 5;
}
.sunburst b:nth-child(6) {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  z-index: 6;
}
.sunburst b:nth-child(7) {
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
  z-index: 7;
}
.sunburst b:nth-child(8) {
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
  z-index: 8;
}
.sunburst b:nth-child(9) {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: 9;
}
@-moz-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@-webkit-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@-o-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
.city {
  position: relative;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #baf4f2;
}
.sunburst {
  z-index: 0;
}
.builds {
  background: url("../img/city.png") center center;
  width: 100%;
  height: 415px;
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
  margin: auto;
}
.street {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: #333;
}
.pavement {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: auto;
  background: #888;
}
.blue-car {
  top: -25px;
  left: -10%;
  -webkit-animation: right-road 20s linear 0s infinite;
  -moz-animation: right-road 20s linear 0s infinite;
  -o-animation: right-road 20s linear 0s infinite;
  -ms-animation: right-road 20s linear 0s infinite;
  animation: right-road 20s linear 0s infinite;
}
.blue-truck {
  top: -36px;
  left: -10%;
  -webkit-animation: right-road 20s linear 3s infinite;
  -moz-animation: right-road 20s linear 3s infinite;
  -o-animation: right-road 20s linear 3s infinite;
  -ms-animation: right-road 20s linear 3s infinite;
  animation: right-road 20s linear 3s infinite;
}
.brown-van {
  top: -25px;
  left: -10%;
  -webkit-animation: right-road 20s linear 8s infinite;
  -moz-animation: right-road 20s linear 8s infinite;
  -o-animation: right-road 20s linear 8s infinite;
  -ms-animation: right-road 20s linear 8s infinite;
  animation: right-road 20s linear 8s infinite;
}
.green-van {
  top: -10px;
  right: -10%;
  -webkit-animation: left-road 20s linear 0s infinite;
  -moz-animation: left-road 20s linear 0s infinite;
  -o-animation: left-road 20s linear 0s infinite;
  -ms-animation: left-road 20s linear 0s infinite;
  animation: left-road 20s linear 0s infinite;
}
.black-car {
  top: -10px;
  right: -10%;
  -webkit-animation: left-road 20s linear 5s infinite;
  -moz-animation: left-road 20s linear 5s infinite;
  -o-animation: left-road 20s linear 5s infinite;
  -ms-animation: left-road 20s linear 5s infinite;
  animation: left-road 20s linear 5s infinite;
}
.black-truck {
  top: -10px;
  right: -10%;
  -webkit-animation: left-road 20s linear 9s infinite;
  -moz-animation: left-road 20s linear 9s infinite;
  -o-animation: left-road 20s linear 9s infinite;
  -ms-animation: left-road 20s linear 9s infinite;
  animation: left-road 20s linear 9s infinite;
}
.cloud {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.sky-far .cloud-1.one {
  top: 10%;
  -webkit-animation: cloud-1-one 100s linear infinite alternate;
  -moz-animation: cloud-1-one 100s linear infinite alternate;
  -o-animation: cloud-1-one 100s linear infinite alternate;
  -ms-animation: cloud-1-one 100s linear infinite alternate;
  animation: cloud-1-one 100s linear infinite alternate;
}
.sky-far .cloud-1.two {
  top: 2%;
  -webkit-animation: cloud-1-two 100s linear infinite alternate;
  -moz-animation: cloud-1-two 100s linear infinite alternate;
  -o-animation: cloud-1-two 100s linear infinite alternate;
  -ms-animation: cloud-1-two 100s linear infinite alternate;
  animation: cloud-1-two 100s linear infinite alternate;
}
.sky-far .cloud-1.three {
  top: 30%;
  -webkit-animation: cloud-1-three 100s linear infinite alternate;
  -moz-animation: cloud-1-three 100s linear infinite alternate;
  -o-animation: cloud-1-three 100s linear infinite alternate;
  -ms-animation: cloud-1-three 100s linear infinite alternate;
  animation: cloud-1-three 100s linear infinite alternate;
}
.sky-far .cloud-1.four {
  top: 35%;
  -webkit-animation: cloud-1-four 100s linear infinite alternate;
  -moz-animation: cloud-1-four 100s linear infinite alternate;
  -o-animation: cloud-1-four 100s linear infinite alternate;
  -ms-animation: cloud-1-four 100s linear infinite alternate;
  animation: cloud-1-four 100s linear infinite alternate;
}
.sky-far .cloud-1.five {
  top: 40%;
  -webkit-animation: cloud-1-five 100s linear infinite alternate;
  -moz-animation: cloud-1-five 100s linear infinite alternate;
  -o-animation: cloud-1-five 100s linear infinite alternate;
  -ms-animation: cloud-1-five 100s linear infinite alternate;
  animation: cloud-1-five 100s linear infinite alternate;
}
.sky-far .cloud-1.six {
  top: 60%;
  -webkit-animation: cloud-1-six 100s linear infinite alternate;
  -moz-animation: cloud-1-six 100s linear infinite alternate;
  -o-animation: cloud-1-six 100s linear infinite alternate;
  -ms-animation: cloud-1-six 100s linear infinite alternate;
  animation: cloud-1-six 100s linear infinite alternate;
}
.sky-far .cloud-1.seven {
  top: 70%;
  -webkit-animation: cloud-1-four 100s linear infinite alternate;
  -moz-animation: cloud-1-four 100s linear infinite alternate;
  -o-animation: cloud-1-four 100s linear infinite alternate;
  -ms-animation: cloud-1-four 100s linear infinite alternate;
  animation: cloud-1-four 100s linear infinite alternate;
}
.sky-far .cloud-3 {
  top: 30%;
  -webkit-animation: cloud-4-one 100s linear infinite alternate;
  -moz-animation: cloud-4-one 100s linear infinite alternate;
  -o-animation: cloud-4-one 100s linear infinite alternate;
  -ms-animation: cloud-4-one 100s linear infinite alternate;
  animation: cloud-4-one 100s linear infinite alternate;
}
.sky-far .cloud-2 {
  top: 14%;
  -webkit-animation: cloud-4-one 100s linear infinite alternate;
  -moz-animation: cloud-4-one 100s linear infinite alternate;
  -o-animation: cloud-4-one 100s linear infinite alternate;
  -ms-animation: cloud-4-one 100s linear infinite alternate;
  animation: cloud-4-one 100s linear infinite alternate;
}
.sky-near .cloud-4.one {
  top: 10%;
  -webkit-animation: cloud-4-one 100s linear infinite alternate;
  -moz-animation: cloud-4-one 100s linear infinite alternate;
  -o-animation: cloud-4-one 100s linear infinite alternate;
  -ms-animation: cloud-4-one 100s linear infinite alternate;
  animation: cloud-4-one 100s linear infinite alternate;
}
.sky-near .cloud-4.two {
  top: 15%;
  -webkit-animation: cloud-4-two 100s linear infinite alternate;
  -moz-animation: cloud-4-two 100s linear infinite alternate;
  -o-animation: cloud-4-two 100s linear infinite alternate;
  -ms-animation: cloud-4-two 100s linear infinite alternate;
  animation: cloud-4-two 100s linear infinite alternate;
}
.title {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
}
.title h1,
.title h2 {
  color: rgba(232,127,65,0.7);
  text-align: center;
}
.title h1 {
  font-size: 6em;
  font-weight: 900;
  color: rgba(255,255,255,0.8);
  text-shadow: 1px 4px 0px #67a, 1px 2px 0px #953;
}
.title h2 {
  color: #fff;
  font-size: 1.7em;
  font-weight: 600;
  text-shadow: 2px 2px 0px #999;
}
.sky-far,
.sky-near {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
