* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body,
html {
  line-height: 1;
  font-family: arial, sans-serif;
  font-weight: normal;
  height: 100%;
  width: 100%;
  position: relative;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: 700;
}
a {
  word-wrap: break-word;
}
.sobre article {
  *zoom: 1;
  width: auto;
  max-width: 95%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.sobre article:before,
.sobre article:after {
  content: '';
  display: table;
}
.sobre article:after {
  clear: both;
}
.sobre .about-text {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 61.375%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -25.75%;
}
.sobre .about-text:before,
.sobre .about-text:after {
  content: '';
  display: table;
}
.sobre .about-text:after {
  clear: both;
}
.sobre .about-text:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .sobre .about-text {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
    padding-top: 30px;
  }
  .sobre .about-text:first-child {
    margin-left: auto;
  }
  .sobre .about-text:last-child {
    margin-right: auto;
  }
}
.sobre .ney-photo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  left: 64.375%;
}
.sobre .ney-photo:before,
.sobre .ney-photo:after {
  content: '';
  display: table;
}
.sobre .ney-photo:after {
  clear: both;
}
.sobre .ney-photo:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .sobre .ney-photo {
    *zoom: 1;
    width: auto;
    max-width: 60%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 5px;
    position: static;
    left: 0;
  }
  .sobre .ney-photo:before,
  .sobre .ney-photo:after {
    content: '';
    display: table;
  }
  .sobre .ney-photo:after {
    clear: both;
  }
}
.jobs article,
.youtube article {
  *zoom: 1;
  width: auto;
  max-width: 95%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.jobs article:before,
.youtube article:before,
.jobs article:after,
.youtube article:after {
  content: '';
  display: table;
}
.jobs article:after,
.youtube article:after {
  clear: both;
}
.jobs dl,
.youtube dl {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.jobs dl:before,
.youtube dl:before,
.jobs dl:after,
.youtube dl:after {
  content: '';
  display: table;
}
.jobs dl:after,
.youtube dl:after {
  clear: both;
}
.jobs dl:last-child,
.youtube dl:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .jobs dl,
  .youtube dl {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
  }
  .jobs dl:first-child,
  .youtube dl:first-child {
    margin-left: auto;
  }
  .jobs dl:last-child,
  .youtube dl:last-child {
    margin-right: auto;
  }
}
footer .container {
  *zoom: 1;
  width: auto;
  max-width: 95%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
footer .container:before,
footer .container:after {
  content: '';
  display: table;
}
footer .container:after {
  clear: both;
}
footer .column {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
footer .column:before,
footer .column:after {
  content: '';
  display: table;
}
footer .column:after {
  clear: both;
}
footer .column:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  footer .column {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
  }
  footer .column:first-child {
    margin-left: auto;
  }
  footer .column:last-child {
    margin-right: auto;
  }
}
.menu {
  position: fixed;
  left: -191px;
  height: 100%;
  margin: auto;
  z-index: 10;
  background: #111;
  border-right: 2px solid #333;
  width: 187px;
}
@media only screen and (max-width: 600px) {
  .menu {
    width: 80%;
    left: -80%;
  }
}
.menu a {
  font-size: 1.2em;
  text-decoration: none;
  color: #7ddbd7;
  display: block;
  padding: 20px;
  border-bottom: 1px solid #333;
}
.menu a:hover {
  background: #7ddbd7;
  color: #000;
}
#openmenu {
  display: none;
}
#openmenu:checked ~ .menu {
  left: 0;
}
#openmenu:checked ~ .menu label:before {
  content: "";
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 3700%;
  height: 3700%;
}
#openmenu:checked ~ .menu .menu-btn i {
  background: none;
}
#openmenu:checked ~ .menu .menu-btn i:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
#openmenu:checked ~ .menu .menu-btn i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0;
}
.menu-btn {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 101%;
  top: 0px;
  z-index: -1;
  cursor: pointer;
  padding: 10px;
}
.menu-btn i {
  display: block;
  height: 5px;
  background: #000;
  width: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-btn i:before,
.menu-btn i:after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  background: #000;
  width: 30px;
}
.menu-btn i:before {
  top: -10px;
}
.menu-btn i:after {
  bottom: -10px;
}
.lightbox input:checked + dl .lightbox-button {
  position: fixed;
  width: 200%;
  opacity: 1;
}
.lightbox input:checked + dl .lightbox-button:after,
.lightbox input:checked + dl .lightbox-button:before {
  display: none;
}
.lightbox input:checked + dl dt {
  overflow: visible;
  position: static;
}
.lightbox input:checked + dl img {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70%;
  height: auto;
  z-index: 9999;
}
.lightbox-outclick {
  display: none;
}
.lightbox-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(0,0,0,0.4);
  z-index: 1;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .lightbox-button {
    display: none;
  }
}
.lightbox-button:hover {
  opacity: 1;
}
.lightbox-button:before,
.lightbox-button:after {
  content: "";
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.lightbox-button:before {
  width: 50px;
  height: 50px;
  border: 10px solid #ccc;
  border-radius: 50%;
}
.lightbox-button:after {
  width: 50px;
  height: 16px;
  background: #ccc;
  border-radius: 8px;
  left: -60px;
  bottom: -60px;
  transform: rotate3d(0, 0, 10, 135deg);
}
.sunburst {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #93dfdc;
  position: relative;
}
.sunburst b {
  position: absolute;
  margin: auto;
  display: block;
  width: 1px;
  height: 1px;
  border-width: 120px 1300px;
  border-color: transparent #84dbd7;
  border-style: solid;
  overflow: hidden;
}
.sunburst b:nth-child(1) {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  z-index: 1;
}
.sunburst b:nth-child(2) {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  z-index: 2;
}
.sunburst b:nth-child(3) {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  z-index: 3;
}
.sunburst b:nth-child(4) {
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  z-index: 4;
}
.sunburst b:nth-child(5) {
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  transform: rotate(100deg);
  z-index: 5;
}
.sunburst b:nth-child(6) {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  z-index: 6;
}
.sunburst b:nth-child(7) {
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
  z-index: 7;
}
.sunburst b:nth-child(8) {
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
  z-index: 8;
}
.sunburst b:nth-child(9) {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: 9;
}
@-moz-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@-webkit-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@-o-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
.sprite-image,
.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4,
.balloon,
.helicopter,
.brown-van,
.green-van,
.blue-car,
.black-car,
.black-truck,
.blue-truck {
  background: url("../img/sprite.png") no-repeat;
  display: block;
  position: absolute;
}
.cloud-1 {
  background-position: 0 0;
  width: 160px;
  height: 69px;
}
.cloud-2 {
  background-position: 0 -70px;
  width: 71px;
  height: 46px;
}
.cloud-3 {
  background-position: 0 -117px;
  width: 58px;
  height: 38px;
}
.cloud-4 {
  background-position: 0 -156px;
  width: 45px;
  height: 29px;
}
.balloon {
  background-position: 0 -185px;
  width: 83px;
  height: 116px;
}
.helicopter {
  background-position: 0 -302px;
  width: 85px;
  height: 46px;
}
.brown-van {
  background-position: 0 -349px;
  width: 86px;
  height: 42px;
}
.green-van {
  background-position: 0 -529px;
  width: 86px;
  height: 42px;
}
.blue-car {
  background-position: 0 -392px;
  width: 85px;
  height: 45px;
}
.black-car {
  background-position: 0 -483px;
  width: 85px;
  height: 45px;
}
.black-truck {
  background-position: 0 -438px;
  width: 84px;
  height: 44px;
}
.blue-truck {
  background-position: 0 -572px;
  width: 84px;
  height: 52px;
}
@-moz-keyframes cloud-1-one {
  from {
    -webkit-transform: translate(32rem, 0);
    -moz-transform: translate(32rem, 0);
    -o-transform: translate(32rem, 0);
    -ms-transform: translate(32rem, 0);
    transform: translate(32rem, 0);
  }
  to {
    -webkit-transform: translate(100rem, 0);
    -moz-transform: translate(100rem, 0);
    -o-transform: translate(100rem, 0);
    -ms-transform: translate(100rem, 0);
    transform: translate(100rem, 0);
  }
}
@-webkit-keyframes cloud-1-one {
  from {
    -webkit-transform: translate(32rem, 0);
    -moz-transform: translate(32rem, 0);
    -o-transform: translate(32rem, 0);
    -ms-transform: translate(32rem, 0);
    transform: translate(32rem, 0);
  }
  to {
    -webkit-transform: translate(100rem, 0);
    -moz-transform: translate(100rem, 0);
    -o-transform: translate(100rem, 0);
    -ms-transform: translate(100rem, 0);
    transform: translate(100rem, 0);
  }
}
@-o-keyframes cloud-1-one {
  from {
    -webkit-transform: translate(32rem, 0);
    -moz-transform: translate(32rem, 0);
    -o-transform: translate(32rem, 0);
    -ms-transform: translate(32rem, 0);
    transform: translate(32rem, 0);
  }
  to {
    -webkit-transform: translate(100rem, 0);
    -moz-transform: translate(100rem, 0);
    -o-transform: translate(100rem, 0);
    -ms-transform: translate(100rem, 0);
    transform: translate(100rem, 0);
  }
}
@keyframes cloud-1-one {
  from {
    -webkit-transform: translate(32rem, 0);
    -moz-transform: translate(32rem, 0);
    -o-transform: translate(32rem, 0);
    -ms-transform: translate(32rem, 0);
    transform: translate(32rem, 0);
  }
  to {
    -webkit-transform: translate(100rem, 0);
    -moz-transform: translate(100rem, 0);
    -o-transform: translate(100rem, 0);
    -ms-transform: translate(100rem, 0);
    transform: translate(100rem, 0);
  }
}
@-moz-keyframes cloud-1-two {
  from {
    -webkit-transform: translate(16rem, 0);
    -moz-transform: translate(16rem, 0);
    -o-transform: translate(16rem, 0);
    -ms-transform: translate(16rem, 0);
    transform: translate(16rem, 0);
  }
  to {
    -webkit-transform: translate(95rem, 0);
    -moz-transform: translate(95rem, 0);
    -o-transform: translate(95rem, 0);
    -ms-transform: translate(95rem, 0);
    transform: translate(95rem, 0);
  }
}
@-webkit-keyframes cloud-1-two {
  from {
    -webkit-transform: translate(16rem, 0);
    -moz-transform: translate(16rem, 0);
    -o-transform: translate(16rem, 0);
    -ms-transform: translate(16rem, 0);
    transform: translate(16rem, 0);
  }
  to {
    -webkit-transform: translate(95rem, 0);
    -moz-transform: translate(95rem, 0);
    -o-transform: translate(95rem, 0);
    -ms-transform: translate(95rem, 0);
    transform: translate(95rem, 0);
  }
}
@-o-keyframes cloud-1-two {
  from {
    -webkit-transform: translate(16rem, 0);
    -moz-transform: translate(16rem, 0);
    -o-transform: translate(16rem, 0);
    -ms-transform: translate(16rem, 0);
    transform: translate(16rem, 0);
  }
  to {
    -webkit-transform: translate(95rem, 0);
    -moz-transform: translate(95rem, 0);
    -o-transform: translate(95rem, 0);
    -ms-transform: translate(95rem, 0);
    transform: translate(95rem, 0);
  }
}
@keyframes cloud-1-two {
  from {
    -webkit-transform: translate(16rem, 0);
    -moz-transform: translate(16rem, 0);
    -o-transform: translate(16rem, 0);
    -ms-transform: translate(16rem, 0);
    transform: translate(16rem, 0);
  }
  to {
    -webkit-transform: translate(95rem, 0);
    -moz-transform: translate(95rem, 0);
    -o-transform: translate(95rem, 0);
    -ms-transform: translate(95rem, 0);
    transform: translate(95rem, 0);
  }
}
@-moz-keyframes cloud-1-three {
  from {
    -webkit-transform: translate(5rem, 0);
    -moz-transform: translate(5rem, 0);
    -o-transform: translate(5rem, 0);
    -ms-transform: translate(5rem, 0);
    transform: translate(5rem, 0);
  }
  to {
    -webkit-transform: translate(80rem, 0);
    -moz-transform: translate(80rem, 0);
    -o-transform: translate(80rem, 0);
    -ms-transform: translate(80rem, 0);
    transform: translate(80rem, 0);
  }
}
@-webkit-keyframes cloud-1-three {
  from {
    -webkit-transform: translate(5rem, 0);
    -moz-transform: translate(5rem, 0);
    -o-transform: translate(5rem, 0);
    -ms-transform: translate(5rem, 0);
    transform: translate(5rem, 0);
  }
  to {
    -webkit-transform: translate(80rem, 0);
    -moz-transform: translate(80rem, 0);
    -o-transform: translate(80rem, 0);
    -ms-transform: translate(80rem, 0);
    transform: translate(80rem, 0);
  }
}
@-o-keyframes cloud-1-three {
  from {
    -webkit-transform: translate(5rem, 0);
    -moz-transform: translate(5rem, 0);
    -o-transform: translate(5rem, 0);
    -ms-transform: translate(5rem, 0);
    transform: translate(5rem, 0);
  }
  to {
    -webkit-transform: translate(80rem, 0);
    -moz-transform: translate(80rem, 0);
    -o-transform: translate(80rem, 0);
    -ms-transform: translate(80rem, 0);
    transform: translate(80rem, 0);
  }
}
@keyframes cloud-1-three {
  from {
    -webkit-transform: translate(5rem, 0);
    -moz-transform: translate(5rem, 0);
    -o-transform: translate(5rem, 0);
    -ms-transform: translate(5rem, 0);
    transform: translate(5rem, 0);
  }
  to {
    -webkit-transform: translate(80rem, 0);
    -moz-transform: translate(80rem, 0);
    -o-transform: translate(80rem, 0);
    -ms-transform: translate(80rem, 0);
    transform: translate(80rem, 0);
  }
}
@-moz-keyframes cloud-1-four {
  from {
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate(25rem, 0);
    -o-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    transform: translate(25rem, 0);
  }
  to {
    -webkit-transform: translate(100rem, 0);
    -moz-transform: translate(100rem, 0);
    -o-transform: translate(100rem, 0);
    -ms-transform: translate(100rem, 0);
    transform: translate(100rem, 0);
  }
}
@-webkit-keyframes cloud-1-four {
  from {
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate(25rem, 0);
    -o-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    transform: translate(25rem, 0);
  }
  to {
    -webkit-transform: translate(100rem, 0);
    -moz-transform: translate(100rem, 0);
    -o-transform: translate(100rem, 0);
    -ms-transform: translate(100rem, 0);
    transform: translate(100rem, 0);
  }
}
@-o-keyframes cloud-1-four {
  from {
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate(25rem, 0);
    -o-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    transform: translate(25rem, 0);
  }
  to {
    -webkit-transform: translate(100rem, 0);
    -moz-transform: translate(100rem, 0);
    -o-transform: translate(100rem, 0);
    -ms-transform: translate(100rem, 0);
    transform: translate(100rem, 0);
  }
}
@keyframes cloud-1-four {
  from {
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate(25rem, 0);
    -o-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    transform: translate(25rem, 0);
  }
  to {
    -webkit-transform: translate(100rem, 0);
    -moz-transform: translate(100rem, 0);
    -o-transform: translate(100rem, 0);
    -ms-transform: translate(100rem, 0);
    transform: translate(100rem, 0);
  }
}
@-moz-keyframes cloud-1-five {
  from {
    -webkit-transform: translate(45rem, 0);
    -moz-transform: translate(45rem, 0);
    -o-transform: translate(45rem, 0);
    -ms-transform: translate(45rem, 0);
    transform: translate(45rem, 0);
  }
  to {
    -webkit-transform: translate(110rem, 0);
    -moz-transform: translate(110rem, 0);
    -o-transform: translate(110rem, 0);
    -ms-transform: translate(110rem, 0);
    transform: translate(110rem, 0);
  }
}
@-webkit-keyframes cloud-1-five {
  from {
    -webkit-transform: translate(45rem, 0);
    -moz-transform: translate(45rem, 0);
    -o-transform: translate(45rem, 0);
    -ms-transform: translate(45rem, 0);
    transform: translate(45rem, 0);
  }
  to {
    -webkit-transform: translate(110rem, 0);
    -moz-transform: translate(110rem, 0);
    -o-transform: translate(110rem, 0);
    -ms-transform: translate(110rem, 0);
    transform: translate(110rem, 0);
  }
}
@-o-keyframes cloud-1-five {
  from {
    -webkit-transform: translate(45rem, 0);
    -moz-transform: translate(45rem, 0);
    -o-transform: translate(45rem, 0);
    -ms-transform: translate(45rem, 0);
    transform: translate(45rem, 0);
  }
  to {
    -webkit-transform: translate(110rem, 0);
    -moz-transform: translate(110rem, 0);
    -o-transform: translate(110rem, 0);
    -ms-transform: translate(110rem, 0);
    transform: translate(110rem, 0);
  }
}
@keyframes cloud-1-five {
  from {
    -webkit-transform: translate(45rem, 0);
    -moz-transform: translate(45rem, 0);
    -o-transform: translate(45rem, 0);
    -ms-transform: translate(45rem, 0);
    transform: translate(45rem, 0);
  }
  to {
    -webkit-transform: translate(110rem, 0);
    -moz-transform: translate(110rem, 0);
    -o-transform: translate(110rem, 0);
    -ms-transform: translate(110rem, 0);
    transform: translate(110rem, 0);
  }
}
@-moz-keyframes cloud-1-six {
  from {
    -webkit-transform: translate(60rem, 0);
    -moz-transform: translate(60rem, 0);
    -o-transform: translate(60rem, 0);
    -ms-transform: translate(60rem, 0);
    transform: translate(60rem, 0);
  }
  to {
    -webkit-transform: translate(120rem, 0);
    -moz-transform: translate(120rem, 0);
    -o-transform: translate(120rem, 0);
    -ms-transform: translate(120rem, 0);
    transform: translate(120rem, 0);
  }
}
@-webkit-keyframes cloud-1-six {
  from {
    -webkit-transform: translate(60rem, 0);
    -moz-transform: translate(60rem, 0);
    -o-transform: translate(60rem, 0);
    -ms-transform: translate(60rem, 0);
    transform: translate(60rem, 0);
  }
  to {
    -webkit-transform: translate(120rem, 0);
    -moz-transform: translate(120rem, 0);
    -o-transform: translate(120rem, 0);
    -ms-transform: translate(120rem, 0);
    transform: translate(120rem, 0);
  }
}
@-o-keyframes cloud-1-six {
  from {
    -webkit-transform: translate(60rem, 0);
    -moz-transform: translate(60rem, 0);
    -o-transform: translate(60rem, 0);
    -ms-transform: translate(60rem, 0);
    transform: translate(60rem, 0);
  }
  to {
    -webkit-transform: translate(120rem, 0);
    -moz-transform: translate(120rem, 0);
    -o-transform: translate(120rem, 0);
    -ms-transform: translate(120rem, 0);
    transform: translate(120rem, 0);
  }
}
@keyframes cloud-1-six {
  from {
    -webkit-transform: translate(60rem, 0);
    -moz-transform: translate(60rem, 0);
    -o-transform: translate(60rem, 0);
    -ms-transform: translate(60rem, 0);
    transform: translate(60rem, 0);
  }
  to {
    -webkit-transform: translate(120rem, 0);
    -moz-transform: translate(120rem, 0);
    -o-transform: translate(120rem, 0);
    -ms-transform: translate(120rem, 0);
    transform: translate(120rem, 0);
  }
}
@-moz-keyframes cloud-4-one {
  from {
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate(25rem, 0);
    -o-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    transform: translate(25rem, 0);
  }
  to {
    -webkit-transform: translate(95rem, 0);
    -moz-transform: translate(95rem, 0);
    -o-transform: translate(95rem, 0);
    -ms-transform: translate(95rem, 0);
    transform: translate(95rem, 0);
  }
}
@-webkit-keyframes cloud-4-one {
  from {
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate(25rem, 0);
    -o-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    transform: translate(25rem, 0);
  }
  to {
    -webkit-transform: translate(95rem, 0);
    -moz-transform: translate(95rem, 0);
    -o-transform: translate(95rem, 0);
    -ms-transform: translate(95rem, 0);
    transform: translate(95rem, 0);
  }
}
@-o-keyframes cloud-4-one {
  from {
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate(25rem, 0);
    -o-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    transform: translate(25rem, 0);
  }
  to {
    -webkit-transform: translate(95rem, 0);
    -moz-transform: translate(95rem, 0);
    -o-transform: translate(95rem, 0);
    -ms-transform: translate(95rem, 0);
    transform: translate(95rem, 0);
  }
}
@keyframes cloud-4-one {
  from {
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate(25rem, 0);
    -o-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    transform: translate(25rem, 0);
  }
  to {
    -webkit-transform: translate(95rem, 0);
    -moz-transform: translate(95rem, 0);
    -o-transform: translate(95rem, 0);
    -ms-transform: translate(95rem, 0);
    transform: translate(95rem, 0);
  }
}
@-moz-keyframes cloud-4-two {
  from {
    -webkit-transform: translate(20rem, 0);
    -moz-transform: translate(20rem, 0);
    -o-transform: translate(20rem, 0);
    -ms-transform: translate(20rem, 0);
    transform: translate(20rem, 0);
  }
  to {
    -webkit-transform: translate(80rem, 0);
    -moz-transform: translate(80rem, 0);
    -o-transform: translate(80rem, 0);
    -ms-transform: translate(80rem, 0);
    transform: translate(80rem, 0);
  }
}
@-webkit-keyframes cloud-4-two {
  from {
    -webkit-transform: translate(20rem, 0);
    -moz-transform: translate(20rem, 0);
    -o-transform: translate(20rem, 0);
    -ms-transform: translate(20rem, 0);
    transform: translate(20rem, 0);
  }
  to {
    -webkit-transform: translate(80rem, 0);
    -moz-transform: translate(80rem, 0);
    -o-transform: translate(80rem, 0);
    -ms-transform: translate(80rem, 0);
    transform: translate(80rem, 0);
  }
}
@-o-keyframes cloud-4-two {
  from {
    -webkit-transform: translate(20rem, 0);
    -moz-transform: translate(20rem, 0);
    -o-transform: translate(20rem, 0);
    -ms-transform: translate(20rem, 0);
    transform: translate(20rem, 0);
  }
  to {
    -webkit-transform: translate(80rem, 0);
    -moz-transform: translate(80rem, 0);
    -o-transform: translate(80rem, 0);
    -ms-transform: translate(80rem, 0);
    transform: translate(80rem, 0);
  }
}
@keyframes cloud-4-two {
  from {
    -webkit-transform: translate(20rem, 0);
    -moz-transform: translate(20rem, 0);
    -o-transform: translate(20rem, 0);
    -ms-transform: translate(20rem, 0);
    transform: translate(20rem, 0);
  }
  to {
    -webkit-transform: translate(80rem, 0);
    -moz-transform: translate(80rem, 0);
    -o-transform: translate(80rem, 0);
    -ms-transform: translate(80rem, 0);
    transform: translate(80rem, 0);
  }
}
@-moz-keyframes right-road {
  from {
    -webkit-transform: translate(-7rem, -25px);
    -moz-transform: translate(-7rem, -25px);
    -o-transform: translate(-7rem, -25px);
    -ms-transform: translate(-7rem, -25px);
    transform: translate(-7rem, -25px);
  }
  to {
    -webkit-transform: translate(82rem, -25px);
    -moz-transform: translate(82rem, -25px);
    -o-transform: translate(82rem, -25px);
    -ms-transform: translate(82rem, -25px);
    transform: translate(82rem, -25px);
  }
}
@-webkit-keyframes right-road {
  from {
    -webkit-transform: translate(-7rem, -25px);
    -moz-transform: translate(-7rem, -25px);
    -o-transform: translate(-7rem, -25px);
    -ms-transform: translate(-7rem, -25px);
    transform: translate(-7rem, -25px);
  }
  to {
    -webkit-transform: translate(82rem, -25px);
    -moz-transform: translate(82rem, -25px);
    -o-transform: translate(82rem, -25px);
    -ms-transform: translate(82rem, -25px);
    transform: translate(82rem, -25px);
  }
}
@-o-keyframes right-road {
  from {
    -webkit-transform: translate(-7rem, -25px);
    -moz-transform: translate(-7rem, -25px);
    -o-transform: translate(-7rem, -25px);
    -ms-transform: translate(-7rem, -25px);
    transform: translate(-7rem, -25px);
  }
  to {
    -webkit-transform: translate(82rem, -25px);
    -moz-transform: translate(82rem, -25px);
    -o-transform: translate(82rem, -25px);
    -ms-transform: translate(82rem, -25px);
    transform: translate(82rem, -25px);
  }
}
@keyframes right-road {
  from {
    -webkit-transform: translate(-7rem, -25px);
    -moz-transform: translate(-7rem, -25px);
    -o-transform: translate(-7rem, -25px);
    -ms-transform: translate(-7rem, -25px);
    transform: translate(-7rem, -25px);
  }
  to {
    -webkit-transform: translate(82rem, -25px);
    -moz-transform: translate(82rem, -25px);
    -o-transform: translate(82rem, -25px);
    -ms-transform: translate(82rem, -25px);
    transform: translate(82rem, -25px);
  }
}
@-moz-keyframes left-road {
  from {
    -webkit-transform: translate(82rem, -10px);
    -moz-transform: translate(82rem, -10px);
    -o-transform: translate(82rem, -10px);
    -ms-transform: translate(82rem, -10px);
    transform: translate(82rem, -10px);
  }
  to {
    -webkit-transform: translate(-7rem, -10px);
    -moz-transform: translate(-7rem, -10px);
    -o-transform: translate(-7rem, -10px);
    -ms-transform: translate(-7rem, -10px);
    transform: translate(-7rem, -10px);
  }
}
@-webkit-keyframes left-road {
  from {
    -webkit-transform: translate(82rem, -10px);
    -moz-transform: translate(82rem, -10px);
    -o-transform: translate(82rem, -10px);
    -ms-transform: translate(82rem, -10px);
    transform: translate(82rem, -10px);
  }
  to {
    -webkit-transform: translate(-7rem, -10px);
    -moz-transform: translate(-7rem, -10px);
    -o-transform: translate(-7rem, -10px);
    -ms-transform: translate(-7rem, -10px);
    transform: translate(-7rem, -10px);
  }
}
@-o-keyframes left-road {
  from {
    -webkit-transform: translate(82rem, -10px);
    -moz-transform: translate(82rem, -10px);
    -o-transform: translate(82rem, -10px);
    -ms-transform: translate(82rem, -10px);
    transform: translate(82rem, -10px);
  }
  to {
    -webkit-transform: translate(-7rem, -10px);
    -moz-transform: translate(-7rem, -10px);
    -o-transform: translate(-7rem, -10px);
    -ms-transform: translate(-7rem, -10px);
    transform: translate(-7rem, -10px);
  }
}
@keyframes left-road {
  from {
    -webkit-transform: translate(82rem, -10px);
    -moz-transform: translate(82rem, -10px);
    -o-transform: translate(82rem, -10px);
    -ms-transform: translate(82rem, -10px);
    transform: translate(82rem, -10px);
  }
  to {
    -webkit-transform: translate(-7rem, -10px);
    -moz-transform: translate(-7rem, -10px);
    -o-transform: translate(-7rem, -10px);
    -ms-transform: translate(-7rem, -10px);
    transform: translate(-7rem, -10px);
  }
}
.blue-car {
  -webkit-animation: right-road 20s linear 0s infinite;
  -moz-animation: right-road 20s linear 0s infinite;
  -o-animation: right-road 20s linear 0s infinite;
  -ms-animation: right-road 20s linear 0s infinite;
  animation: right-road 20s linear 0s infinite;
}
.blue-truck {
  -webkit-animation: right-road 20s linear 3s infinite;
  -moz-animation: right-road 20s linear 3s infinite;
  -o-animation: right-road 20s linear 3s infinite;
  -ms-animation: right-road 20s linear 3s infinite;
  animation: right-road 20s linear 3s infinite;
}
.brown-van {
  -webkit-animation: right-road 20s linear 8s infinite;
  -moz-animation: right-road 20s linear 8s infinite;
  -o-animation: right-road 20s linear 8s infinite;
  -ms-animation: right-road 20s linear 8s infinite;
  animation: right-road 20s linear 8s infinite;
}
.green-van {
  -webkit-animation: left-road 20s linear 0s infinite;
  -moz-animation: left-road 20s linear 0s infinite;
  -o-animation: left-road 20s linear 0s infinite;
  -ms-animation: left-road 20s linear 0s infinite;
  animation: left-road 20s linear 0s infinite;
}
.black-car {
  -webkit-animation: left-road 20s linear 5s infinite;
  -moz-animation: left-road 20s linear 5s infinite;
  -o-animation: left-road 20s linear 5s infinite;
  -ms-animation: left-road 20s linear 5s infinite;
  animation: left-road 20s linear 5s infinite;
}
.black-truck {
  -webkit-animation: left-road 20s linear 9s infinite;
  -moz-animation: left-road 20s linear 9s infinite;
  -o-animation: left-road 20s linear 9s infinite;
  -ms-animation: left-road 20s linear 9s infinite;
  animation: left-road 20s linear 9s infinite;
}
.cloud {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.sky-far .cloud-1.one {
  top: 10%;
  -webkit-animation: cloud-1-one 100s linear infinite alternate;
  -moz-animation: cloud-1-one 100s linear infinite alternate;
  -o-animation: cloud-1-one 100s linear infinite alternate;
  -ms-animation: cloud-1-one 100s linear infinite alternate;
  animation: cloud-1-one 100s linear infinite alternate;
}
.sky-far .cloud-1.two {
  top: 2%;
  -webkit-animation: cloud-1-two 100s linear infinite alternate;
  -moz-animation: cloud-1-two 100s linear infinite alternate;
  -o-animation: cloud-1-two 100s linear infinite alternate;
  -ms-animation: cloud-1-two 100s linear infinite alternate;
  animation: cloud-1-two 100s linear infinite alternate;
}
.sky-far .cloud-1.three {
  top: 30%;
  -webkit-animation: cloud-1-three 100s linear infinite alternate;
  -moz-animation: cloud-1-three 100s linear infinite alternate;
  -o-animation: cloud-1-three 100s linear infinite alternate;
  -ms-animation: cloud-1-three 100s linear infinite alternate;
  animation: cloud-1-three 100s linear infinite alternate;
}
.sky-far .cloud-1.four {
  top: 35%;
  -webkit-animation: cloud-1-four 100s linear infinite alternate;
  -moz-animation: cloud-1-four 100s linear infinite alternate;
  -o-animation: cloud-1-four 100s linear infinite alternate;
  -ms-animation: cloud-1-four 100s linear infinite alternate;
  animation: cloud-1-four 100s linear infinite alternate;
}
.sky-far .cloud-1.five {
  top: 40%;
  -webkit-animation: cloud-1-five 100s linear infinite alternate;
  -moz-animation: cloud-1-five 100s linear infinite alternate;
  -o-animation: cloud-1-five 100s linear infinite alternate;
  -ms-animation: cloud-1-five 100s linear infinite alternate;
  animation: cloud-1-five 100s linear infinite alternate;
}
.sky-far .cloud-1.six {
  top: 60%;
  -webkit-animation: cloud-1-six 100s linear infinite alternate;
  -moz-animation: cloud-1-six 100s linear infinite alternate;
  -o-animation: cloud-1-six 100s linear infinite alternate;
  -ms-animation: cloud-1-six 100s linear infinite alternate;
  animation: cloud-1-six 100s linear infinite alternate;
}
.sky-far .cloud-1.seven {
  top: 70%;
  -webkit-animation: cloud-1-four 100s linear infinite alternate;
  -moz-animation: cloud-1-four 100s linear infinite alternate;
  -o-animation: cloud-1-four 100s linear infinite alternate;
  -ms-animation: cloud-1-four 100s linear infinite alternate;
  animation: cloud-1-four 100s linear infinite alternate;
}
.sky-far .cloud-3 {
  top: 30%;
  -webkit-animation: cloud-4-one 100s linear infinite alternate;
  -moz-animation: cloud-4-one 100s linear infinite alternate;
  -o-animation: cloud-4-one 100s linear infinite alternate;
  -ms-animation: cloud-4-one 100s linear infinite alternate;
  animation: cloud-4-one 100s linear infinite alternate;
}
.sky-far .cloud-2 {
  top: 14%;
  -webkit-animation: cloud-4-one 100s linear infinite alternate;
  -moz-animation: cloud-4-one 100s linear infinite alternate;
  -o-animation: cloud-4-one 100s linear infinite alternate;
  -ms-animation: cloud-4-one 100s linear infinite alternate;
  animation: cloud-4-one 100s linear infinite alternate;
}
.sky-near .cloud-4.one {
  top: 10%;
  -webkit-animation: cloud-4-one 100s linear infinite alternate;
  -moz-animation: cloud-4-one 100s linear infinite alternate;
  -o-animation: cloud-4-one 100s linear infinite alternate;
  -ms-animation: cloud-4-one 100s linear infinite alternate;
  animation: cloud-4-one 100s linear infinite alternate;
}
.sky-near .cloud-4.two {
  top: 15%;
  -webkit-animation: cloud-4-two 100s linear infinite alternate;
  -moz-animation: cloud-4-two 100s linear infinite alternate;
  -o-animation: cloud-4-two 100s linear infinite alternate;
  -ms-animation: cloud-4-two 100s linear infinite alternate;
  animation: cloud-4-two 100s linear infinite alternate;
}
.city {
  position: relative;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #baf4f2;
  z-index: 1;
}
.sunburst {
  z-index: 0;
}
.builds {
  background: url("../img/city.png") center center;
  width: 100%;
  height: 415px;
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
  margin: auto;
}
.street {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: #333;
}
.pavement {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: auto;
  background: #888;
}
.sobre {
  background: #deb146;
  z-index: 2;
  padding: 50px 0;
  min-height: 100%;
}
.about-text {
  color: #4b3f34;
}
.about-text p {
  font-family: "lato";
  font-size: 1.2em;
  line-height: 1.4;
  margin-top: 20px;
}
.ney-photo {
  background: #dfdfdf;
  padding: 5px;
  left: 60px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.333);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.333);
  -webkit-transform: rotate3d(0, 0, 10, -5deg);
  -moz-transform: rotate3d(0, 0, 10, -5deg);
  -o-transform: rotate3d(0, 0, 10, -5deg);
  -ms-transform: rotate3d(0, 0, 10, -5deg);
  transform: rotate3d(0, 0, 10, -5deg);
  position: relative;
}
@media only screen and (max-width: 400px) {
  .ney-photo {
    left: -10px;
  }
}
.ney-photo img {
  width: 100%;
  height: auto;
}
.jobs {
  background: #fff;
  padding: 50px 0;
  color: #000;
}
@media only screen and (max-width: 600px) {
  .jobs dl {
    padding-top: 50px;
  }
  .jobs dl:first-child {
    padding-top: 0;
  }
}
.jobs h1 {
  margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
  .jobs h1 {
    margin-bottom: 20px;
  }
}
.jobs dt {
  height: 200px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  .jobs dt {
    height: auto;
    border: 1px solid #ccc;
  }
}
.jobs input {
  display: none;
}
.jobs h3,
.jobs p {
  font-family: "lato";
  margin-top: 5px;
}
.youtube {
  background: #d07e47;
  padding: 50px 0;
  color: #f0f0f0;
}
.youtube h1 {
  margin-bottom: 40px;
}
.youtube dt {
  height: 212px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.youtube iframe {
  min-width: 100%;
  width: 100%;
  min-height: 212px;
  height: auto;
}
.youtube dd {
  font-family: "lato";
  margin-bottom: 5px;
}
footer {
  background: #333;
  width: 100%;
  color: #fff;
}
footer .container {
  padding: 30px 0 50px;
}
@media only screen and (max-width: 600px) {
  footer .column:last-child {
    margin-top: 30px;
  }
}
footer h3 {
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  footer h3 {
    text-align: center;
  }
}
footer li {
  font-size: 1.5em;
  line-height: 1.3em;
}
footer li span {
  color: #777;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
  height: auto;
}
main {
  background: #fff;
  position: relative;
  min-height: 100%;
  z-index: 1;
}
.title {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
}
.title h1,
.title h2 {
  color: rgba(232,127,65,0.7);
  text-align: center;
}
.title h1 {
  font-size: 6em;
  font-weight: 900;
  color: rgba(255,255,255,0.8);
  text-shadow: 1px 4px 0px #67a, 1px 2px 0px #953;
}
@media only screen and (max-width: 600px) {
  .title h1 {
    line-height: 1.2;
    font-size: 4em;
  }
}
.title h2 {
  color: #fff;
  font-size: 1.7em;
  font-weight: 600;
  text-shadow: 2px 2px 0px #999;
}
@media only screen and (max-width: 600px) {
  .title h2 {
    padding: 0 20px;
    line-height: 1.2;
  }
}
h1 {
  font-weight: 400;
  font-size: 3em;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
}
.sky-far,
.sky-near {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
